In [ ]:
import numpy as np
import pandas as pd

task 1 : Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
num_observations = 4
num_features = 4

random_values = np.random.randint(0, 101, size=(num_observations, num_features))

# Creating the pandas DataFrame
df = pd.DataFrame(random_values)

# Display the DataFrame
print(df)

    0   1   2   3
0  22  55  76  26
1  41  62  30  63
2  21  47   4  45
3  93  94  93   0

In [ ]:
# introducing some null values
df.iloc[0, 1] = np.nan
df.iloc[2, 3] = np.nan

# Display the DataFrame
print("DataFrame:")
print(df)

DataFrame:
    0     1   2     3
0  22   NaN  76  26.0
1  41  62.0  30  63.0
2  21  47.0   4   NaN
3  93  94.0  93   0.0

Task 2: Rename the task-1 'df' dataframe column names to 'Random value 1'. 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
new_column_names = ['Random value 1', 'Random value 2', 'Random value 3','Random value 4']
df.columns = new_column_names
df

   Random value 1  Random value 2  Random value 3  Random value 4
0              22             NaN              76            26.0
1              41            62.0              30            63.0
2              21            47.0               4             NaN
3              93            94.0              93             0.0

task 3: Find the descriptive statistics of the 'df' dataframe.

In [ ]:
descriptive_stats = df.describe()
print("\nDescriptive Statistics:")
print(descriptive_stats)

Descriptive Statistics:
       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        3.000000         4.00000        3.000000
mean        44.250000       67.666667        50.75000       29.666667
std         33.777458       24.006943        40.98272       31.659648
min         21.000000       47.000000         4.00000        0.000000
25%         21.750000       54.500000        23.50000       13.000000
50%         31.500000       62.000000        53.00000       26.000000
75%         54.000000       78.000000        80.25000       44.500000
max         93.000000       94.000000        93.00000       63.000000

task 4: Check for the null values in 'df and find the data type of the columns.'

In [ ]:
null_values = df.isnull()
print("\nNull Values:")
print(null_values)
data_types = df.dtypes
print("\nData Types:")
print(data_types)

Null Values:
   Random value 1  Random value 2  Random value 3  Random value 4
0           False            True           False           False
1           False           False           False           False
2           False           False           False            True
3           False           False           False           False

Data Types:
Random value 1      int64
Random value 2    float64
Random value 3      int64
Random value 4    float64
dtype: object

Task 5: Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
print("Using label-based location (loc method):")
print(df.loc[:, ['Random value 2', 'Random value 3']])
print("\nUsing index-based location (iloc method):")
print(df.iloc[:, [1, 2]])

Using label-based location (loc method):
   Random value 2  Random value 3
0             NaN              76
1            62.0              30
2            47.0               4
3            94.0              93

Using index-based location (iloc method):
   Random value 2  Random value 3
0             NaN              76
1            62.0              30
2            47.0               4
3            94.0              93